* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Jakarta Regular";
  src: url("PlusJakartaSans-Regular.ttf");
}
@font-face {
  font-family: "Jakarta Light Italic";
  src: url("PlusJakartaSans-LightItalic.ttf");
}
@font-face {
  font-family: "Jakarta Extra Bold";
  src: url("PlusJakartaSans-ExtraBold.ttf");
}
body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* make the bg image scale from the bottom */
  background-position: bottom;
  overscroll-behavior: contain;
  color: white;
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 36px;
}

/* hide  scrollbar */
#results::-webkit-scrollbar {
  display: none;
}

#app-main::-webkit-scrollbar {
  display: none;
}
#app-box{
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
}
textarea{
  max-height: 50vh;
  overflow: scroll;
  line-height: 150%;
  white-space: pre-wrap;
}
#results {
  display: none;
  max-height: 50vh;
  overflow: scroll;
  line-height: 150%;
  white-space: pre-wrap;
}
.app-title {
  /* Find the software you need */

  text-align: center;
  font-family: "Jakarta Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 18x;
  line-height: 40px;

  color: white;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.title-container{
  font-family: "Jakarta Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-logo{
  max-width: 200px;
  margin-bottom: 32px;
}

.link {
  font-family: "Jakarta Extra Bold";
  font-style: normal;
  font-weight: 000;
  /* font-size: 18px; */
  /* line-height: 40px; */
  text-align: center;
  /* background-color: white; */
  color: white;
  /* border: 1px solid white; */
  /* padding: 3px; */
}

.link {
  font-family: "Jakarta Extra Bold";
  font-style: normal;
  font-weight: 000;
  /* font-size: 18px; */
  /* line-height: 40px; */
  text-align: center;
  /* background-color: white; */
  color: white;
  /* border: 1px solid white; */
  /* padding: 3px; */
}
.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 36px 24px 36px;
  gap: 36px;
  border: solid 1px #cebf6d;
  width: 564px;
  font-family: "Jakarta Regular";
  background: rgba(31, 38, 51, 0.01);
  backdrop-filter: blur(99.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.message-input {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: auto;
  height: auto;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.input-field {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: auto;
  height: 25px;

  /* Inside auto layout */

}
input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  font-family: "Jakarta Extra Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: white;
}
/*placeholder*/
input::placeholder {
  color: #977b76;
  font-family: "Jakarta Light Italic";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.message-input button {
  /* no style */
  background: none;
  border: none;
  outline: none;
  margin-left: 16px;
}
.message-input button:hover {
  /* no style */
  cursor: pointer;
}
.input-field button img {
  /* Vector */

  width: 32px;
  height: 32.5px;

  border: 1px solid;

  /* Inside auto layout */

  order: 1;
}

form{
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  color: white;
  -webkit-text-fill-color: white !important;
}

.loading {
  width: 32px;
  height: 32px;
  filter: sepia(100%) saturate(500%) brightness(55%) hue-rotate(137deg)
}

textarea {
  font-size: 18px;
  line-height: 150%;
  width: auto;
  height: auto;
  font-family: "Jakarta Extra Bold";
  outline: none;
  color: white;
  background: none;
  border: none;
  resize: none;
}

/* hide textarea scrollbar */
textarea::-webkit-scrollbar {
  display: none;
}

/* placeholder */
textarea::placeholder {
  font-size: 18px;
  line-height: 150%;
  font-family: "Jakarta Light Italic";
  color: #977b76;
}

.clear-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
}


/* ++++++++++++++++++ mobile +++++++++++++++++++ */
@media screen and (max-width: 768px) {

  body {
    background-image: url("mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
   

  }

  .content-wrapper {
    position: fixed;
    width: 100%;
  }

  
  #app-box {
    max-height: 80%;
  }
  
  .app-logo{
    max-width: 200px;
    margin-bottom: 32px;
  }
  .app-main {
    width: 100%;
  }
  /* hide textarea scrollbar */
  textarea::-webkit-scrollbar {
    display: none;
  }

  form {
    width: 100%;
  }
  .message-input {
    width: 100%;
  }
}
