<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Red Brillo Urbano</title>
    <!-- A chatbot that communicates with an API to give the townspeople of Quequén all the information-->
    <link rel="stylesheet" href="static/style.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="content-wrapper">
      <div class="title-container">
        <img class="app-logo" src="static/logo.png" alt="Red Quequén" />
        <p>Ingresá data</p>
      </div>
      <div id="app-box">
        <div class="app-main">
          <form method="POST" id="bot-form" action="/">
            <div class="message-input">
              <textarea
                class="input-field"
                placeholder="Escribí cualquier cosa"
                type="text"
                name="message"
                rows="1"
                oninput="autoResizeTextarea(this)"
                onkeydown="handleEnter(event)"
              ></textarea>
              <button class="clear-button" type="button" style="display: none">
                <img src="static/clear.png" alt="clear" />
              </button>

              <!-- Search button with png icon -->
              <button id="search">
                <img src="static/search.png" alt="search" />
              </button>
            </div>
          </form>
          <div id="results"></div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("form").on("submit", function (event) {
          event.preventDefault();
          const message = $("textarea[name=message]").val();
          if (message.trim() !== "") {
            // replace the search button with searching.gif until the results are returned
            $("#search").html(
              '<img class="loading" src="static/searching.gif" alt="searching" />'
            );
            // Check if search_term is not empty
            $.ajax({
              data: {
                message: message,
              },
              type: "POST",
              url: "/",
            }).done(function (data) {
              // replace the searching.gif with the search button
              $("#search").html('<img src="static/search.png" alt="search" />');
              // Clear the previous results
              $("#results").html("");
              $(".app-main").css("padding", "24px 36px 24px 36px");

              // erase the input field
              $("#results").css("display", "block");
              // append data to the results div
              $("#results").append(data);
              console.log(data);
              findPhoneNumbersAndConvertToLinks();
            });
          } else {
            alert("No entendí");
          }
        });
      });

      $(".clear-button").click(function () {
        $("textarea[name=message]").val("");
        $(".clear-button").css("display", "none");
        autoResizeTextarea($("textarea[name=message]")[0]);
      });
      const textarea = document.querySelector("textarea[name=message]");
      const clearButton = document.querySelector(".clear-button");
      textarea.addEventListener("input", function () {
        clearButton.style.display =
          textarea.value.length > 0 ? "block" : "none";
      });

      function handleEnter(event) {
        if (event.key === "Enter" && !event.shiftKey) {
          event.preventDefault();
          $("#bot-form").trigger("submit");
        }
      }

      function autoResizeTextarea(textarea) {
        textarea.style.height = "auto"; // Temporarily set the height to 'auto' to calculate the correct height
        textarea.style.height = textarea.scrollHeight + "px"; // Set the height to match the scroll height
      }
      
      
    </script>
  </body>
</html>
